#perzonalizarForm{
    width: 70%;
	text-align: center;
	display: inline-block;
}

#boton{
	color: #EFEFEF;
	background-color: #070D59;
	border-radius: 5px;
	border-color: #EFEFEF;
}

#select{
	width: 150px;
	border-color: #EFEFEF;
	border-style: solid;
}